[Unit]
Description=Let's Encrypt Certbot Renewal

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/docker run --rm \
    -v \"/etc/letsencrypt:/etc/letsencrypt\" \
    -v \"/var/lib/letsencrypt:/var/lib/letsencrypt\" \
    -v \"/srv/infrastructure/public/letsencrypt:/data/letsencrypt\" \
    -v \"/var/log/letsencrypt:/var/log/letsencrypt\" \
    certbot/certbot \
        renew \
        --webroot -w /data/letsencrypt \
    && /usr/bin/docker container exec nginx nginx -s reload
    && /usr/bin/docker kill --signal=\"SIGUSR1\" murmur"
